<%= form_for (@personal_okr) , :url => { :action => @action } do |f| %>
  <% if @personal_okr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_okr.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @personal_okr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table cellspacing="0" cellpadding="0" width="100%">
  <% if !@personal_okr.okr_score.nil? %>
    <tr>
        <td colspan = '2'><font color="red"><%= t('personalokr.can_not_update_message')%></font></td>
    </tr>
  <% end%>
  <tr>
      <td width="30%" ><strong><%= t("personalokr.okr_detail_menu.personal_name") %></strong></td>
      <td width="70%" style="text-align:left" ><%= select_tag "user_id", options_from_collection_for_select(@department_users, 'id', 'email',@personal_okr.user_id),style: "width:150px"  %></td>
  </tr>
  <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.okr_time") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_date, options_from_collection_for_select(@date_list, 'okr_date', 'okr_date',@personal_okr.okr_date),{},style: "width:150px"  %></td>
  </tr>
	<tr>
    	<td><strong><%= t("personalokr.okr_detail_menu.okr_description") %></strong></td>
    	<td style="text-align:left"><%= f.text_area :okr_name,cols: 98 ,rows: 10, style: "height:100px" %></td>
	</tr>
  <% if @current_user_role == "manager" %>
    <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.okr_proportion") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_proportion, options_for_select([["10%","0.1"],["20%","0.2"],["30%","0.3"],["40%","0.4"],["50%","0.5"],["60%","0.6"],["70%","0.7"],["80%","0.8"],["90%","0.9"],["100%","1"]],@personal_okr.okr_proportion),{},style: "width:150px"  %></td>
    </tr>
    <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.okr_status") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_stats, options_from_collection_for_select(@okr_stats, 'id', 'stats_name',@personal_okr.okr_stats),{},style: "width:150px"  %></td>
    </tr>
    <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.okr_degree_of_difficulty") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_degree_of_difficulty, options_from_collection_for_select(@degrees, 'id', 'degree_name',@personal_okr.okr_degree_of_difficulty),{},style: "width:150px"  %></td>
    </tr>
    <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.okr_score") %></strong></td>
      <% if @personal_okr.nil? %>
        <td style="text-align:left"></td>
      <% else %>
        <td style="text-align:left"><%= @personal_okr.okr_score %></td>
      <%end%>
      
    </tr>
    <tr>
      <td><strong><%= t("personalokr.okr_detail_menu.description") %></strong></td>
      <td style="text-align:left"><%= f.text_area :description,cols: 98 ,rows: 10, style: "height:100px" %></td>
    </tr>
  <% end %>


</table>
<br>
  <div class="actions">
    <%= f.submit :size => 30 %>
  </div>
<% end %>
