<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			
		<ul class="states" >
			<%= form_tag '', :method => 'get' do %>
			<p>
				<%= select_tag "okr_date", options_from_collection_for_select(@date_list, 'okr_date', 'okr_date',@search_okr_date) %>&nbsp;&nbsp;&nbsp;
				<%= select_tag "user_id", options_from_collection_for_select(@users, 'id', 'email',@search_user_id) %>&nbsp;&nbsp;&nbsp;
				<%= submit_tag "Search", :okr_date => nil %>
			</p>
			<% end %>
		</ul>
			<ul class="states" >
				<h1><font color='red'><%= @search_okr_date %></font>&nbsp;<%= t("personalokr.okr_list") %></h1>
				<table width="100%">
				  <thead>
				    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
						<th width='5%'><%= t("personalokr.list_menu.serial_number") %></th>
						<th width="10%"><%= t("personalokr.list_menu.personal_name") %></th>
						<th width='20%'><%= t("personalokr.list_menu.okr_description") %></th>
				      	<th witdh='10%'><%= t("personalokr.list_menu.create_time") %></th>
				      	<th width='10%'><%= t("personalokr.list_menu.update_time") %></th>
				      	<th width='5%'><%= t("personalokr.list_menu.proportion") %></th>
				      	<th width='5%'><%= t("personalokr.list_menu.score") %></th>
				      	<th width='10%'><%= t("personalokr.list_menu.assessment_time") %></th>
				      	<th width='10%'><%= t("personalokr.list_menu.assessment_person") %></th>
				      	<th width='10%' colspan="3"><%= t("personalokr.list_menu.operate") %></th>
				    </tr>
				  </thead>

				  <tbody>
					  <% if @personal_okrs != nil %>
				    <% @personal_okrs.each_with_index do |personal_okr,i| %>
				      <tr <%= if (i+1)%2 ==0
				      	"style=background-Color:#F7F7F7"
				      end%>>
						<td align='center'><%= i+1 %></td>
						<td align='center'><%= personal_okr.email %></td>
						<td align='center'><%= personal_okr.okr_name %></td>
				        <td align='center'><%= personal_okr.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
				        <td align='center'><%= personal_okr.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td align='center'><%= personal_okr.okr_proportion %></td>
						<td align='center'><%= personal_okr.okr_score %></td>
						<td align='center'>
							<% if !personal_okr.assessment_time.nil? %>
							<%= personal_okr.assessment_time.strftime("%Y-%m-%d %H:%M:%S") %>
							<% end %>
						</td>
						<td align='center'><%= personal_okr.assessment_person_email %></td>
				        <td align='center'>
				        	<%= link_to 'Show', personal_okr %>&nbsp;
				        	<% if @current_user_role == 'admin' || @current_user_role == 'manager' || personal_okr.email == current_user.email %>
				        	<%= link_to 'Edit', edit_personalokr_path(personal_okr) %>&nbsp;
				        	<%= link_to 'Destroy', personal_okr, method: :delete, data: { confirm: 'Are you sure?' } %>
				        	<% end %>
				        </td>
				      </tr>
				    <% end %>
					<% end %>
				  </tbody>
				</table>
				<%if !@search_user_id.nil? && @total_proportion != 0 %>
					<h3 align='center'><%= t("personalokr.view_info.total_socre_html",total_score:@total_score,total_proportion:@total_proportion) %>
						<% if @total_proportion != 1 %>
							<font color='red'><%= t("personalokr.view_info.proportion_error") %></font>
						<% end %>
					</h3>
				<% end %>
				<%= t("will_paginate_html",per_page:@personal_okrs.per_page,total_pages:@personal_okrs.total_pages,total_entries:@personal_okrs.total_entries) %> </br>
				<%= will_paginate @personal_okrs, :container => false %>
				<br>
				<% if @current_user_role == 'employee' %>
				<%= link_to '新增OKR', '/personalokr/new' %>
				<% end %>
				<br>
			</ul>

		</article>
	</div>
</div>