<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<!-- <div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div> -->
			
		<ul class="states" >
			<h1><%= t("personalokr.okr_detail_menu.okr_detail") %></h1>
			<table width="100%" cellspacing="0" cellpadding="0">
			  <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.personal_name") %></strong></td>
			      <td><%= @personal_okr.user_email %></td>
			  </tr>
			  <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.okr_time") %></strong></td>
			      <td ><%= @personal_okr.okr_date %></td>
			  </tr>
				<tr>
			    	<td><strong><%= t("personalokr.okr_detail_menu.okr_description") %></strong></td>
			    	<td><%= @personal_okr.okr_name %></td>
				</tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.okr_proportion") %></strong></td>
			      <td><%= @personal_okr.okr_proportion %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.okr_status") %></strong></td>
			      <td><%= @personal_okr.okr_stats_name %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.okr_degree_of_difficulty") %></strong></td>
			      <td><%= @personal_okr.okr_degree_of_difficulty_name %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.okr_score") %></strong></td>
			      <td><%= @personal_okr.okr_score %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.assessment_person") %></strong></td>
			      <td><%= @personal_okr.assessment_person_email %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.assessment_time") %></strong></td>
			      <td><%= @personal_okr.assessment_time %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.description") %></strong></td>
			      <td><%= @personal_okr.description %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.create_time") %></strong></td>
			      <td> <%= @personal_okr.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			    </tr>
			    <tr>
			      <td><strong><%= t("personalokr.okr_detail_menu.update_time") %></strong></td>
			      <td><%= @personal_okr.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
			    </tr>
			</table>
				<%= link_to t("personalokr.button.edit"), edit_personalokr_path(@personal_okr) %> |
				<%= link_to t("personalokr.button.back"), '/personalokr' %>
		</ul>
		</article>
	</div>
</div>