<%= form_for (@user) , :url => { :action => @action } do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table border="0px" cellspacing="5px" cellpadding="5px">
  <% if !@update_password %>
  <tr>
      <td align="center" bgcolor="#F7F7F7" width="20%"><strong>Department Name</strong></td>
      <td width="80%"><%= select_tag "department_id", options_from_collection_for_select(@departments, 'id', 'department_name',@user_department_id) %></td>
  </tr>
  <tr>
      <td align="center" bgcolor="#F7F7F7" width="20%"><strong>User Role</strong></td>
      <td width="80%"><%= select_tag "user_role", options_from_collection_for_select(@roles,'id','name',@user_role) %></td>
  </tr>
  <% end %>
  <tr>
      <td align="center" bgcolor="#F7F7F7" ><strong><%= f.label :id %></strong></td>
      <td><%= f.text_field :id, autofocus: true ,size: 100 ,value: @user_id,readonly: true %></td>
  </tr>
  <tr>
      <td align="center" bgcolor="#F7F7F7" ><strong><%= f.label :email %></strong></td>
      <td><%= f.email_field :email, autofocus: true ,size: 100 %></td>
  </tr>
  <tr>
      <td align="center" bgcolor="#F7F7F7">
        <strong><%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </strong></td>
      <td ><%= f.password_field :password, autocomplete: "off",size: 100 %></td>
  </tr>
  <tr>
      <td align="center" bgcolor="#F7F7F7"><strong><%= f.label :password_confirmation %></strong></td>
      <td ><%= f.password_field :password_confirmation, autocomplete: "off",size: 100 %></td>
  </tr>

</table>
  <div class="actions">
    <% if @submit_value == "Update Password" %>
      <%= f.submit "Update Password" %>
    <% else %>
      <%= f.submit  %>
    <% end %>
  </div>
<% end %>