<%= form_for (@user) , :url => { :action => @action } do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table cellspacing="0" cellpadding="0" id="user-box">
  <% if !@update_password %>
  <tr>
      <td ><strong><%= t("department.department_detail_menu.department_name") %></strong></td>
      <td ><%= select_tag "department_id", options_from_collection_for_select(@departments, 'id', 'department_name',@user_department_id) %></td>
  </tr>
  <tr>
      <td ><strong><%= t("department.department_detail_menu.user_role") %></strong></td>
      <td ><%= select_tag "user_role", options_from_collection_for_select(@roles,'id','name',@user_role) %></td>
  </tr>
  <% end %>
  <tr>
      <td ><strong><%= t("department.department_detail_menu.user_id") %></strong></td>
      <td><%= f.text_field :id, autofocus: true ,size: 100 ,value: @user_id,readonly: true %></td>
  </tr>
  <tr>
      <td ><strong><%= t("department.department_detail_menu.email") %></strong></td>
      <td><%= f.email_field :email, autofocus: true ,size: 100 %></td>
  </tr>
  <tr>
    <td colspan="2">
      <% if @action == :update %>
        <p><font color="red"><%= t("department.update_person_password_alarm_html") %></font></p>
      <% end %>
    </td>
  </tr>
  <tr>
      <td >
        <strong><%= t("department.department_detail_menu.password") %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </strong></td>
      <td ><%= f.password_field :password, autocomplete: "off",size: 100 %></td>
  </tr>
  <tr>
      <td><strong><%= t("department.department_detail_menu.password_confirmation") %></strong></td>
      <td ><%= f.password_field :password_confirmation, autocomplete: "off",size: 100 %></td>
  </tr>

</table>
  <div class="actions">
    <% if @submit_value == "Update Password" %>
      <%= f.submit "Update Password" %>
    <% else %>
      <%= f.submit  %>
    <% end %>
  </div>
<% end %>