<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<h1><%= display_notice_and_alert %></h1>
			
		<ul class="states" >
			<% if !@update_password %>
				<h1><%= t("department.update_department_employee") %></h1>
					<%= render 'form'%>
				</ul>
			<% else %>
				<h1><%= t("department.update_person_password") %></h1>
					<%= render 'form'%>
				</ul>
			<% end %>
			
		</article>
	</div>
</div>
