<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			
		<ul class="states" >
			<%= form_tag '', :method => 'get' do %>
			<p>
				<%= select_tag "department_id", options_from_collection_for_select(@departments, 'id', 'department_name',@search_department_id) %>&nbsp;&nbsp;&nbsp;
				<%= submit_tag "Search", :department => nil %>
			</p>
			<% end %>
		</ul>
			<ul class="states" >
				<h1><font color='red'></font><%= @department_name%>&nbsp;<%= t("department.employee_list") %></h1>
				<table width="100%">
				  <thead>
				    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
						<th width='5%'><%= t("department.list_menu.serial_number") %></th>
						<th width='20%'><%= t("department.list_menu.employee_name") %></th>
						<th width='10%'><%= t("department.list_menu.department_name") %></th>
						<th width='5%'><%= t("department.list_menu.user_role") %></th>
				      	<th witdh='10%'><%= t("department.list_menu.current_login_time") %></th>
				      	<th witdh='10%'><%= t("department.list_menu.last_login_time") %></th>
				      	<th witdh='10%'><%= t("department.list_menu.current_login_ip") %></th>
				      	<th witdh='10%'><%= t("department.list_menu.last_login_ip") %></th>
				      	<th width='5%'><%= t("department.list_menu.login_count") %></th>
				      	<th width='5%'><%= t("department.list_menu.account_status") %></th>
				      	<th width='10%'><%= t("department.list_menu.operate") %></th>
				    </tr>
				  </thead>

				  <tbody>
					  <% if @users != nil %>
				    <% @users.each_with_index do |user,i| %>
				      <tr <%= if (i+1)%2 ==0
				      	"style=background-Color:#F7F7F7"
				      end%>>
						<td align='center'><%= i+1 %></td>
						<td align='center'><%= user.email %></td>
						<td align='center'><%= user.department_name %></td>
						<td align='center'><%= user.role_name %></td>
						<td align='center'>
				        	<% if !user.last_sign_in_at.nil? %>
				        		<%= user.current_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %> 
				        	<% else %>
				        		<%= t("department.view_info.not_logged_in") %>
				        	<% end %>
				        </td>
				        <td align='center'>
				        	<% if !user.last_sign_in_at.nil? %>
				        		<%= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %> 
				        	<% else %>
				        		<%= t("department.view_info.not_logged_in") %>
				        	<% end %>
				        </td>
				        <td align='center'><%= user.current_sign_in_ip %></td>
				        <td align='center'><%= user.last_sign_in_ip %></td>
						<td align='center'><%= user.sign_in_count %></td>
						<td align='center'>
							<% if user.is_active.nil? %>
								<%= t("department.view_info.error") %>
							<% elsif user.is_active == true%>
								<font color='green'><%= t("department.view_info.active") %></font>
							<% else %>
								<font color='red'><%= t("department.view_info.locking") %></font>
							<% end %>
						</td>
				        <td align='center'>
				        	<% if @current_user_role == 'admin' || @current_user_role == 'manager' %>
					       		<% if user.is_active.nil? %>
									
								<% elsif user.is_active == true%>
									<%= link_to t("department.button.locking"), "/department/active/update?user_id=#{user.id}&active_status=false",data: { confirm: 'Are you sure?' }  %>
								<% else %>
									<%= link_to t("department.button.active"), "/department/unactive/update?user_id=#{user.id}&active_status=#{true}",data: { confirm: 'Are you sure?' }  %>
								<% end %>
									<%= link_to t("department.button.edit"), "department/edit/update?user_id=#{user.id}" %>
							<% end %>
				        </td>
				      </tr>
				    <% end %>
					<% end %>
				  </tbody>
				</table>
			</br>
			<%= t("will_paginate_html",per_page:@users.per_page,total_pages:@users.total_pages,total_entries:@users.total_entries) %> </br>
			<%= will_paginate @users, :container => false %>
				<br>
				<% if @current_user_role == 'admin' || @current_user_role == 'manager' %>
				<br /><br />
				<%= link_to t("department.button.add_new_employee"), '/department/new' %>
				<% end %>
				<br>
			</ul>

		</article>
	</div>
</div>