<%= form_for (@department_okr) , :url => { :action => @action } do |f| %>
  <% if @department_okr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department_okr.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @department_okr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table border="0px" cellspacing="0" cellpadding="0">
  <% if !@department_okr.okr_score.nil? %>
    <tr>
        <td colspan = '2'><font color="red"><%= t('departmentokr.can_not_update_message')%></font></td>
    </tr>
  <% end%>
  <tr>
      <td width="30%"><strong><%= t("departmentokr.okr_detail_menu.department_name") %></strong></td>
      <td width="70%" style="text-align:left"><%= select_tag "department_id", options_from_collection_for_select(@departments, 'id', 'department_name',@department_okr.department_id),style: "width:150px" %></td>
  </tr>
  <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_time") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_date, options_from_collection_for_select(@date_list, 'okr_date', 'okr_date',@department_okr.okr_date),{},{style: "width:150px"} %></td>
  </tr>
  <tr height="100px">
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_description") %></strong></td>
      <td style="text-align:left"><%= f.text_area :okr_name,cols: 98 ,rows: 10, style: "height:100px"  %></td>
  </tr>
  <% if @current_user_role == "admin" %>
    <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_proportion") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_proportion, options_for_select([["10%","0.1"],["20%","0.2"],["30%","0.3"],["40%","0.4"],["50%","0.5"],["60%","0.6"],["70%","0.7"],["80%","0.8"],["90%","0.9"],["100%","1"]],@department_okr.okr_proportion),{},{style: "width:150px"} %></td>
    </tr>
    <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_status") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_stats, options_from_collection_for_select(@okr_stats, 'id', 'stats_name',@department_okr.okr_stats),{},{style: "width:150px"} %></td>
    </tr>
    <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_degree_of_difficulty") %></strong></td>
      <td style="text-align:left"><%= f.select :okr_degree_of_difficulty, options_from_collection_for_select(@degrees, 'id', 'degree_name',@department_okr.okr_degree_of_difficulty),{},{style: "width:150px"} %></td>
    </tr>
    <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.okr_score") %></strong></td>
      <td style="text-align:left">
        <%if @department_okr.nil? %>
          <td style="text-align:left"></td>
        <%else%>
          <%= @department_okr.okr_score %>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><strong><%= t("departmentokr.okr_detail_menu.description") %></strong></td>
      <td style="text-align:left"><%= f.text_area :description,cols: 98 ,rows: 10, style: "height:100px"  %></td>
    </tr>
  <% end %>
</table>
<br>
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
