<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			
		<ul class="states" >
			<%= form_tag '', :method => 'get' do %>
			<p>
				<%= select_tag "okr_date", options_from_collection_for_select(@date_list, 'okr_date', 'okr_date') %>&nbsp;&nbsp;&nbsp;
				<%= select_tag "department_id", options_from_collection_for_select(@departments, 'id', 'department_name') %>&nbsp;&nbsp;&nbsp;
				<%= submit_tag "Search", :okr_date => nil %>
			</p>
			<% end %>
		</ul>
			<ul class="states" >
				<h1><font color='red'><%= @okr_date %></font>&nbsp;&nbsp;部门(<%= @department_name%>)OKR列表</h1>
				<table width="100%">
				  <thead>
				    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
						<th width='3%'>序号</th>
						<th width="7%">部门</th>
						<th width='20%'>OKR描述</th>
				      	<th witdh='10%'>创建时间</th>
				      	<th width='10%'>更新时间</th>
				      	<th width='5%'>占比</th>
				      	<th width='5%'>完成状态</th>
				      	<th width='5%'>得分</th>
				      	<th width='10%'>评定时间</th>
				      	<th width='10%'>评定人</th>
				      	<th width='15%' colspan="3">操作</th>
				    </tr>
				  </thead>

				  <tbody>
					  <% if @department_okrs != nil %>
				    <% @department_okrs.each_with_index do |department_okr,i| %>
				      <tr <%= if (i+1)%2 ==0
				      	"style=background-Color:#F7F7F7"
				      end%>>
						<td align='center'><%= i+1 %></td>
						<td align='center'><%= department_okr.department_name %></td>
						<td align='center'><%= department_okr.okr_name %></td>
				        <td align='center'><%= department_okr.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
				        <td align='center'><%= department_okr.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td align='center'><%= department_okr.okr_proportion %></td>
						<td align='center'><%= department_okr.okr_stats %></td>
						<td align='center'><%= department_okr.okr_score %></td>
						<td align='center'><%= department_okr.okr_score %></td>
						<td align='center'><%= department_okr.okr_score %></td>
				        <td align='center'>
				        	<%= link_to 'Show', department_okr %>&nbsp;
				        	<% if @current_user_role == 'admin' || @current_user_role == 'manager' %>
				        	<%= link_to 'Edit', edit_departmentokr_path(department_okr) %>&nbsp;
				        	<%= link_to 'Destroy', department_okr, method: :delete, data: { confirm: 'Are you sure?' } %>
				        	<% end %>
				        </td>
				      </tr>
				    <% end %>
					<% end %>
				  </tbody>
				</table>
			</br>
			<%if @total_proportion != 0 %>
					<h3 align='center'>总得分:<font color='green'><%= @total_score %></font>,各个OKR加起来的总比例为:<font color='green'><%= @total_proportion %></font>
						<% if @total_proportion != 1 %>
							<font color='red'>(总占比应该为1,当前异常,请联系部门经理.))</font>
						<% end %>
					</h3>
				<% end %>
每页显示<b><%= @department_okrs.per_page %></b>条数据,共有<b><%= @department_okrs.total_pages %></b>页,  共有<b><%= @department_okrs.total_entries %></b>条数据</br>
<%= will_paginate @department_okrs, :container => false %>
				<br>
				<% if @current_user_role == 'admin' || @current_user_role == 'manager' %>
				<%= link_to '新增OKR', '/departmentokr/new' %>
				<% end %>
				<br>
			</ul>

		</article>
	</div>
</div>